#logopart1{
	text-decoration: none;
	background: transparent;
	text-align: left;
	color: black;
	font-family: Helvetica;
	font-style: solid;
	margin-left: 1vw;
}

#logopart2{
	text-decoration: none;
	background: transparent;
	text-align: left;
	color: #009a61;
	font-family: Helvetica;
	font-style: solid;
	width: 10%;
	text-indent: 105%;
}

#logo{
	font-size: 8vh;
}

#copy{
	font-size: 4vh;
	color: black;
	font-weight: bold;
}
#copy:hover{
	text-decoration: none
}

.cover{
	background-color: rgba(64,64,64,.7);
	text-align: center;
	margin-top: -20px;
	padding-bottom: 20px;
	font-family: Helvetica;
	color: white;
}

#title{
	font-size: 7vh;
	font-style: bold;
	margin-top: 0px;
	padding-top: 8vh;
	margin-bottom:0px;
}
#subtitle{
	font-size: 5vh;
	margin-top: 0px;
	padding-bottom: 8vh;
}
#copy_right{
	text-align: center;
}
